body{
  background-color:#1A1A2E;
}
.judul{
  position: relative;
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 540%;
  color: #FF9AD5;
  text-shadow: 2px 2px 5px black;
}

p{
  position:relative;
  left:20px;
  font-family: "Luckiest Guy", cursive;
  font-size: 400%;
  color:#EDEDED;
  text-shadow: 2px 2px 5px black;
}

button{
  position: relative;
  left:20px;
  font-family: "Cinzel", serif;
  font-size:300%;
  text-shadow: 2px 2px 5px black;
}

a{
  position:relative;
  left:250px;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 400%;
  color:#FF9AD5;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
  padding: 10px 5px;
  background:skyblue;
  border-radius: 250px;
}
hr{
  border:none;
  height:10px;
  background-color:white;
  border-radius:10px;
}

img{
  display: block;
  margin: auto;
}

body{
  margin: 0;
  height: 100vh;
  animation: bgMove 10s infinite alternate;
}

@keyframes bgMove {
  0%   { background-color: #ffb6d9; }
  25%  { background-color: #ffd6ec; }
  50%  { background-color: #cdb4ff; }
  75%  { background-color: #bde0fe; }
  100% { background-color: #ffc8dd; }
}

